@charset "utf-8";

* {
    padding: 0;
    background-color: #1f3055;
}

body {
    padding: 0px 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #516081;
    text-align: center;
    padding: 15px 200px;
    margin-bottom: 20px;
}

.titulo {
    background-color: #516081;
    align-items: center;
    box-sizing: border-box;
}

.tituloh1 {
    text-shadow: 2px 2px 5px #bebebe;
    background-color: #516081;
    margin-right: 10px;
}

.imgheader {
    width: 100px;
    height: 100px;
    background-color: #516081;
    float: left;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    font-size: 0.9rem;
}

.filmes {
    display: flex;
    flex-direction: column;
    background-color: #0c1e38;
    margin: 20px;
    width: 405px;
    height: 230px;
    padding: 20px;
}

.descricao {
    color: #bbbbbb;
    background-color: #0c1e38;
    text-align: center;
}

.saibamais {
    position:relative;
    background-color: #000;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: flexbox;
    margin-bottom: 10px;
    cursor: pointer;
}

.saibamais:hover {
    background-color: #228a67;
}