header {
    background-color: #5c4626;
    color: #d1b48f;
    font-family: 'Poppins', sans-serif;;
    text-align: center;
    text-shadow: 3px 3px 5px black;
}

body {
    background-color: #d1b48f;
    color: black;
    font-family: 'Poppins', sans-serif;;
    margin: 25px 25px 25px 25px;
}

.titulo {
    background-color: #5c4626;
    color: #d1b48f;
}

.cortexto {
    color:black;
    text-align: center;
}

.fundo {
    background-color: #c2a476;
}