body {
    font-size: 1rem;
    font-family: Roboto Mono;
    font-weight: 700;
    background-color: #b3e9f3;
}
.tituloprincipal {
    background-color: #6590d1;
    color:black
    text-shadow: 3xp 3xp 3xp #48789f;
}