* {
    padding: 0px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 100px 100px;
}

.itens {
    background-color: #000000;
    padding: 20px 40px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: larger;
    margin: 5px;
}

.item1 {
    color: #126452;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.item2 {
    color: #963636;
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 5;
}

.item3 {
    color: #477727;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

.item4 {
    color: #d6e600;
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 5;
}

.item5 {
    color: #6025ac;
    grid-row: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}

.item6 {
    color: #f86300;
    grid-row: 5;
    grid-column-start: 1;
    grid-column-end: 5;
}

.item7 {
    color: #2132c4;
    grid-row: 6;
    grid-column-start: 1;
    grid-column-end: 3;
}

.item8 {
    color: #ff0000;
    grid-row: 6;
    grid-column-start: 3;
    grid-column-end: 4;
}

.item9 {
    color: #ff004c;
    grid-row: 6;
    grid-column-start: 4;
    grid-column-end: 5;
}