.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
  }
  
  .item {
    background-color: #ccc;
    padding: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .item-1-2 {
    grid-row: 1;
    grid-column: 1 / span 2;
  }
  
  .item-2-4 {
    grid-row: 2;
    grid-column: 1 / span 4;
  }
  
  .item-3-4 {
    grid-row: 3;
    grid-column: 1 / span 4;
  }
  
  .item-4-5 {
    grid-row: 4;
    grid-column: 2 / span 2;
  }
  
  .item-5-6 {
    grid-row: 5;
    grid-column: 1 / span 4;
  }
  
  .item-6-7 {
    grid-row: 6;
    grid-column: 1 / span 2;
  }
  
  .item-6-8 {
    grid-row: 6;
    grid-column: 3 / span 2;
  }
  
  .item-6-9 {
    grid-row: 6;
    grid-column: 5;
  }
  