@charset "uft-8";

.cores li:first-child {
    color:blue;
}
.cores li:nth-child(2) {
    color:red;
}
.cores li:nth-child(3) {
    color:blue;
}
.cores li:last-child {
    color:red;
}

a:hover {
    color: palegreen;
    text-decoration: underline;
}