@charset "utf-8";
body {
    background-color: #c6b691;
    color: #black;
    background-image: url('fundodoces.jpg')
}

header {
    background-color: #d29c42;
    color: #black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    alt: "brigadeiro-de-milho.jpg";
    height: 240px;
    width: 320px;
}

figure {
    width: 320px;
    padding: 10px;
    border: 2px solid #000000;
}

figcaption {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d29c42;
    line-height: 150%;
}

img {
    alt: "pipocadoce.jpg";
    height: 180px;
    width: 320px;
}

img {
    alt: "macadoamor.jpg";
    height: 200px;
    width: 320px;
}